<form id="Login">
    <label for="userName">Username</label>
    <input type="text" id="userName" name="userName" required />

    <label for="password">Password</label>
    <input type="text" id="password" name="password" required />

    <button type="submit">Login</button>
</form>