body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    color: #F9F9F9;
  }

.login-container {
    text-align: center;
}

.login-box {
    background-color: #202328;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form label {
    display: flex;
    text-align: left;
    margin-bottom: 8px;
    
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
}

form .forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

form .forgot-password a {
    color: #f9f9f9;
    text-decoration: none;
}

form .btn-login {
    background-color: #f57c00;
    border: none;
    padding: 10px 20px;
    color: #F9F9F9;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

form input::placeholder{
    color: #0E0E0E
}

form .btn-login:hover {
    background-color: #ff8c33;
}

/* Modal Styling */
dialog[data-modal] {
    display: none; /* Explicitly hide the modal by default */
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    width: 1148px;
    height: 806px;
    max-width: 90%;
    max-height: 90%;
    background-color: #202328;
    color: #F9F9F9;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

p{
    color: #0E0E0E;
}

/* Modal Backdrop */
dialog[data-modal]::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

/* Show modal when `open` attribute is applied */
dialog[data-modal][open] {
    display: flex; /* Show modal when open */
}

/* Header */
dialog[data-modal] h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form Styling */
dialog[data-modal] form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

dialog[data-modal="large"] form {
    display: flex;
    flex-direction: row;
}

dialog[data-modal] .template-setup{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; /* Space between rows */
}

/* Labels */
dialog[data-modal] label {
    font-size: 18px;
    margin-bottom: 8px;
    color: #f9f9f9;
}

/* Inputs */
dialog[data-modal] input {
    width: 50%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
}

/* Reset Password Button */
dialog[data-modal] button#reset-password {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ce430b;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
}

dialog[data-modal] button#reset-password:hover {
    background-color: #f15011;
}

/* Footer Buttons */
dialog[data-modal] .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

dialog[data-modal] .modal-footer button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

dialog[data-modal] .modal-footer button#logout {
    background-color: #800;

}

dialog[data-modal] .modal-footer button#logout:hover {
    background-color: rgb(202, 2, 2);
}

dialog[data-modal] .modal-footer button#save {
    background-color: #ce430b;

}

dialog[data-modal] .modal-footer button#save:hover {
    background-color: #f15011;
}

/* Close Button */
dialog[data-modal] .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    background: none;
    border: none;
    color: #f9f9f9;
    cursor: pointer;
}

dialog[data-modal] .close-btn:hover {
    color: #ff8c33;
}

dialog.large-modal{
    display: none; /* Explicitly hide the modal by default */
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    width: 1550px;
    height: 810px;
    background-color: #202328;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-name-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; /* Adds space between group name and the sections below */
    padding: 10px 0;
}

.group-name-container label {
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
}

.group-name-container input {
    width: 30%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-size: 16px;
    color: #f9f9f9;
}

.group-name-container input::placeholder {
    color: #0E0E0E;
}

/* Modal Content Layout */
.modal-content {
    display: flex;
    gap: 50px;
    width: 100%;
    height: auto;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between child elements */
    flex: 1; /* Both sections take equal space */
    overflow-y: auto; /* Allows scroll if content exceeds the container */
}

.left-section form,
.right-section .user-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Left Section (Group Details) */
.left-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.left-section input[type="text"],
.left-section input[type="date"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-size: 16px;
}

.education-select {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-select div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Right Section (User List) */
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.user-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-list-container .search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-size: 16px;
}

#user-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

#user-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
}

#user-list li span {
    font-size: 16px;
}

#user-list .remove-user-btn {
    background-color: #800;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#user-list .remove-user-btn:hover {
    background-color: rgb(202, 2, 2);
}

/* Footer Button */
.modal-footer {
    text-align: right;
    margin-top: 20px;
}

.modal-footer .btn-create-group {
    background-color: #ce430b;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.modal-footer .btn-create-group:hover {
    background-color: #f15011;
}


.add-user-csv-box {
    width: 1050px;
    height: 400px;
    background-color: #d9d9d9;
    margin-top: 15px;
    align-self: center;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex
}

dialog[data-modal="create-stack"] .left-section {
    flex: 1;
}

dialog[data-modal="create-stack"] .left-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

dialog[data-modal="create-stack"] .left-section input,
dialog[data-modal="create-stack"] .left-section select {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Right Section */
dialog[data-modal="create-stack"] .right-section {
    flex: 1;
}

dialog[data-modal="create-stack"] .right-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

dialog[data-modal="create-stack"] .right-section input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    font-size: 16px;
}

dialog[data-modal="create-stack"] .modal-footer {
    text-align: right;
    margin-top: 20px;
}

dialog[data-modal="create-stack"] .modal-footer button {
    background-color: #ce430b;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

dialog[data-modal="create-stack"] .modal-footer button:hover {
    background-color: #f15011;
}

.group-stacks-modal {
    display: none;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    width: 1200px;
    height: 700px;
    background-color: #202328;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-stacks-modal h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.stack-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: #202328;
}

.stack-table th,
.stack-table td {
    padding: 15px;
    border: none;
}

.stack-table th {
    background-color: #D9D9D9;
    font-weight: bold;
}

.stack-table td {
    background-color: #d9d9d9;
}

.background-box{
    width: 100%;
    height: 100%;
    background-color: #464A4C;
}

#manage-users{
    align-items: flex-start;
    justify-content: left;
    background-color: #ce430b;
    margin-right: auto;
}

#manage-users:hover{
    background-color: #f15011;
}

.button-group{
    display: flex;
    gap: 20px;
}

.delete-btn {
    background-color: #800;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: rgb(202, 2, 2);
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items:center; 
}

.date-picker-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #464A4C;
}

.education-box{
    display: flex;
    flex-direction: column;
    background-color: #464A4C;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25%;
    width: 80%;
}

.education-box h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F9F9F9;
}


.date-picker-box,
.education-box {
    background-color: #464A4C;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.education-options div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-stacks-btn,
.save-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.delete-stacks-btn {
    background-color: #800;
    
}

.delete-stacks-btn:hover {
    background-color: rgb(202, 2, 2);
}

.group-details-modal {
    display: none;
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 1200px;
    height: 800px;
    background-color: #202328;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.group-details-modal .modal-content {
    display: flex;
    gap: 20px;
    flex: 1;
    overflow-y: auto;
}

.group-details-modal #expiration-date {
    width: 90%;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    color: #d1d1d1;
}

.left-section{
    margin-top: 10px;
}

.details-table th,
.details-table td {
    padding: 15px;
    border: none;
}

.details-table th {
    background-color: #D9D9D9;
}

.details-table td {
    background-color: #D9D9D9;
}

.details-table-left-box{
    width: 50%;
    background-color: #464A4C;
    border-radius: 10px;
    padding: 20px;
}

.edit-btn {
    background-color: #800;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: rgb(202, 2, 2);
}


.date-picker,
.education-options {
    margin-bottom: 20px;
}

.education-options h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.education-options {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between each checkbox option */
}

.education-option {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between checkbox and label text */
    font-size: 16px;
    color: #F9F9F9;
}

.education-option input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.education-option span {
    font-size: 16px;
    font-weight: normal;
}

.education-options div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.modal-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.education-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between checkbox and text */
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #0E0E0E;
    width: 100%;
}

.education-item input[type="checkbox"] {
    height: 20px;
    cursor: pointer;
}

.education-item span {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1; /* Allows the text to take up remaining space */
}

.large-modal .education-box{
    margin-top: 0%;
}

.manage-users-modal {
    display: none;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    width: 1000px;
    background-color: #202328;
    color: #F9F9F9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.manage-users-modal h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.manage-users-modal .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manage-users-modal .input-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.manage-users-modal .input-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.manage-users-modal .input-section label {
    font-size: 18px;
    color: #F9F9F9;
}

.manage-users-modal .input-section input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #0E0E0E;
}

.manage-users-modal .button-group {
    display: flex;
    gap: 10px;
}

.manage-users-modal .button-group button {
    background-color: #ce430b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #F9F9F9;
    font-size: 16px;
    cursor: pointer;
}

.manage-users-modal .button-group button:hover {
    background-color: #f15011;
}

.manage-users-modal .table-section {
    overflow-y: auto;
    max-height: 400px;
}

.manage-users-modal .users-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: #0E0E0E;
}

.manage-users-modal .users-table th,
.manage-users-modal .users-table td {
    padding: 15px;
    border: none;
}

.manage-users-modal .users-table th {
    background-color: #D9D9D9;
    font-weight: bold;
}

.manage-users-modal .users-table td {
    background-color: #f1f1f1;
}

.manage-users-modal .edit-btn {
    background-color: #800;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFF;
    cursor: pointer;
}

.manage-users-modal .edit-btn:hover {
    background-color: rgb(202, 2, 2);
}

.manage-users-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.manage-users-modal .modal-footer button {
    background-color: #ce430b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #F9F9F9;
    font-size: 16px;
    cursor: pointer;
}

.manage-users-modal .modal-footer button:hover {
    background-color: #f15011;
}

.manage-users-modal .remove-stacks-btn {
    background-color: #800;
}

.manage-users-modal .remove-stacks-btn:hover {
    background-color: rgb(202, 2, 2);
}

.manage-users-modal .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: #F9F9F9;
    cursor: pointer;
}

.manage-users-modal .close-btn:hover {
    color: #f15011;
}


.manage-user-modal {
    display: none;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    width: 800px;
    background-color: #202328;
    color: #F9F9F9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manage-user-modal h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.manage-user-modal .modal-content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.manage-user-modal .edit-user-section,
.manage-user-modal .permissions-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manage-user-modal .edit-user-section h2,
.manage-user-modal .permissions-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.manage-user-modal .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.manage-user-modal .input-group label {
    font-size: 16px;
    color: #F9F9F9;
}

.manage-user-modal .input-group input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #0E0E0E;
}

.manage-user-modal .permission-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.manage-user-modal .permission-group select,
.manage-user-modal .permission-group input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #0E0E0E;
}

.manage-user-modal .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.manage-user-modal .modal-footer button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
}

.manage-user-modal .save-btn {
    background-color: #ce430b;
}

.manage-user-modal .save-btn:hover {
    background-color: #f15011;
}

.manage-user-modal .delete-user-btn {
    background-color: #800;
}

.manage-user-modal .delete-user-btn:hover {
    background-color: rgb(202, 2, 2);
}

.manage-user-modal .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: #F9F9F9;
    cursor: pointer;
}

.manage-user-modal .close-btn:hover {
    color: #f15011;
}
